streamlit>=1.35.0
pandas>=2.0.0
numpy
pyrebase4
google-cloud-storage
setuptools
xlrd
odfpy
openpyxl
plotly
python-calamine
simpledbf
requests
folium
streamlit-folium
geopandas
folium
streamlit-folium
